# Python bytecode & cache
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment config & secrets
.env

# VSCode
.vscode/

# Streamlit config files
.streamlit/

# Logs
*.log


# App-specific assets
# assets/*
# assets/breathing.gif 

# Specific large file that caused error
assets/alone_movie.mkv

# System files
.DS_Store
Thumbs.db

